[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
requests = "*"
bs4 = "*"
validators = "*"
pytesseract = "*"
opencv-python = "*"
numpy = "*"
argcomplete = "*"
packaging = "*"
colorama = "*"
pyreadline3 = "*"
wget = "*"
urllib3 = "*"
maskpass = "*"

[dev-packages]

[requires]
python_version = "3.9"
